
header {
 display:flex;
 flex-direction: row
}

nav > ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}

nav > ul > li {
 display: inline-block;
 cursor: pointer;
 width: 30%;
 text-align: center;
}


/*input[type=text], input[type=password] {*/
/*width:100%;*/
/*padding:12px 20px;*/
/*margin:8px 0;*/
/*box-sizing:border-box;*/
/*border:3px solid #ccc;*/
/*-webkit-transition:0.5s;*/
/*transition:0.5s;s*/
/*outline:none;*/
/*}*/

/*input[type=text]:focus, input[type=password]:focus{*/
/*border:3px solid #555;*/
/*background-color:lightblue;*/
/*}*/

/*img{*/
/*left:800px;*/
/*width:45%;*/
/*position:absolute;*/
/*bottom:350px;*/
/*}*/
/*#user_name2{*/
/*width:30%;*/
/*display:block;*/
/*}*/

/*#email2{*/
/*width:30%;*/
/*display:block;*/
/*}*/

/*#password2{*/
/*width:30%;*/
/*display:block;*/
/*}*/

/*input[type=checkbox]{*/

/*margin-bottom:15px;*/
/*}*/

/*body{*/
/*background-color:white;*/
/*font:14px verdana, sans-serif;*/

/*}*/

/*h2{*/
/*font-size:23x;*/
/*padding:10px;*/
/*font-family: 'Muli', sans-serif;*/


/*}*/
/*.container{*/

/*border-radius:5px;*/
/*background-color:#f2f2f2;*/
/*padding:20px;*/
/*}*/

/*h1{*/
 /*font-family: 'Merriweather', serif;*/
 /*font-size:40px;*/
 /*color:red;*/
/*}*/


/*label{*/
/*font-size:17px;*/
/*font-family: 'Muli', sans-serif;*/
/*}*/

/*.cancelbtn{*/

/*width:50%;*/
/*float:right;*/
/*color:red;*/
/*}*/

/*.signupbtn{*/
/*width:50%;*/
/*float:left;*/
/*color:blue;*/

/*}*/

/*.cancelbtn2{*/

/*width:30%;*/
/*padding:4px;*/
/*float:left;*/
/*color:red;*/
/*}*/

/*.signInBtn{*/
/*width:30%;*/
/*padding:4px;*/
/*float:left;*/
/*color:blue;*/

/*a{*/
/*color:blue;*/
/*text-decoration:none;*/
/*}*/
